.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-title {
    text-align: center;
    margin-bottom: 1rem;
}

.home-subtitle {
    text-align: center;
    margin-bottom: 2rem;
}

.feature-card-grid {
    margin-top: 2rem;
}

.feature-card-item {
    display: flex;
    justify-content: center;
}
